body {
  font-family: Tahoma, Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  color: #38bdf8;
  margin: 5px 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.btn {
  background: #38bdf8;
  color: black;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #22c55e;
  color: white;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 15px;
  padding: 20px;
}

.product, #admin-products div {
  background: #020617;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover, #admin-products div:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #38bdf8;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

.admin {
  padding: 20px;
}

.cart {
  padding: 20px;
}
